.content {
  max-width: 1240px;
  width: 100%;
  display: flex;
}

.inputContainer > div {
  width: 100%;
  margin-bottom: 24px;
}

.inputContainer > div:last-of-type {
  margin-bottom: 0;
}

.inputContainer svg {
  cursor: pointer;
}

.inputContainer > div > div {
  width: 100%;
}

.inputContainer div div div {
  display: flex;
  justify-content: end;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.activeLink {
  color: white;
}

.elementLink:last-of-type {
  margin-bottom: 80px;
}

.inputContainer {
  width: 480px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}