.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  padding-bottom: 60px;
  box-sizing: border-box;
}

.orderNumber {
  text-align: center;
}

.orderInfoWrapper {
  width: 640px;
  max-height: 620px;
}