.name {
  min-height: 48px;
  text-align: center;
}

.card {
  position: relative;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 0px 26px 17px rgba(75, 34, 80, 0.33) inset,
              0px 0px 26px 17px rgba(75, 34, 80, 0.33);
}

.image {
  height: 120px;
  width: 240px;
}

.priceContainer {
  justify-content: center;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 9px;
}

.link {
  color: white;
  text-decoration: none;
}